body {
    background: #F6F6F6;
}

* {
    font-family: Arial, serif;
    font-style: normal;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 380px;
    border-radius: 10px;
    background: white;
    margin: 15px;
    box-shadow: 0 0 20px #0000004f;
}

.card__image {
    position: relative;
}

.card__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
}

.content__info {
    flex: 1;
    margin-bottom: 15px;
}

.info__title {
    font-family: Arial, serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    color: #2F2F2F;
    letter-spacing: 2px;
}

.info__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
    letter-spacing: 0.3px;
}

.badge__container {
    position: absolute;
    display: flex;
    margin: 7px;
}

.badge__container * {
    border-radius: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 2px 15px;
    margin: 7px;
}

.badge--new {
    background: #FDCFF3;
}

.badge--last {
    background: #FFCF56;
}

.card__image img {
    border-radius: 10px 10px 0 0;
    width: 380px;
}

.content__action {
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #42940F;
    background: white;
    border: 2px solid #42940F;
    border-radius: 10px;
    letter-spacing: 1px;
    padding: 10px;
}

.content__action:disabled {
    background: #4E4E4E;
    border: 2px solid #4E4E4E;
    color: white;
}

.content__action:not([disabled]):hover {
    background: #42940F;
    border: 2px solid #42940F;
    color: white;
}

.content__action:active, button:focus {
    background: #1F5200;
    border: 2px solid #1F5200;
    color: white;
}
